{% extends 'base.html.twig' %}

{% block title %}Hello PizzasController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .card {width: 800px; margin: auto; display: flex;}
    .card > div {margin: 10px;}
</style>

<div class="card">
    <div>
        <img  src="../images/pizza/{{ pizza.image }}" >
    </div>
    <div>
        <h3>Ваша пицца <em>{{pizza.name}}</em></h3>
        <p>{{pizza.description}}</p>
        <p>Состав:</p>
        <ul>
            {% for ingredient in pizzaIngredients %}
                <li>{{ ingredient.ingredient.name }}</li>
            {% endfor %}
        </ul>
        <p>Цена: <em>{{pizza.price}}</em> р.</p>
    </div>
</div>
{% endblock %}
